
@IMPORT url("bootstrap/css/bootstrap.css");

/* Common HTML styles */
body {
	font-size: 8pt;
}

td {
	font-size: 8pt;	
}

/* Screen section content */
.section {
	border: 1px #666666 solid;
	margin: 0;
	padding: 0;
    background-color: #cccccc;
    font-weight: bold; 
    font-size: 8pt; 	
}

/* Screen section header */
.header {
	font-weight: bold;
	text-shadow: -1px -1px 1px rgb( 51, 51, 51 );
	color: white;
	
	background-image: linear-gradient(to top, #666666, #cccccc);
	
	/* background: url( resources/header-bg.png) top left repeat-x; */
	margin: 0;
	font-size: 9pt;
	height: 22px;
	vertical-align: middle;
}
table.header {
	padding:0;
}
td.header {
	padding:0;
}

td.header-icon {
	margin: 0;
	padding: 0;	
	width: 22px;
}
img.header-icon {
	border: 0;
	width: 16px;
	height: 16px;
}

/* List of active diagrams */
ul.menu {
	margin: 0;
	padding-left: 1em;
	padding-right: 0.5em;
	list-style: none;
	font-weight: bold;
	background-color: #cccccc;
	font-size: 9pt;
}

/* Object editor/viewer */
.form {
    background-color: #cccccc;
    font-weight: bold; 
    font-size: 8pt;  
    margin: 0;
    padding: 0; 
}

td.form {
    padding-left: 1em;
    padding-right: 1em;
    width: 50%;
    vertical-align: middle;
}


/* Links at the bottom of form */
.linkbutton {
	margin-left: 1em;
    margin-right: 0;
    vertical-align: top;
    font-weight: bold;    
}

/* Link in the list (for instance, in list of links to delete)*/
ul.linkbutton {
	list-style: none;
}

/* Visual mark for block that can't be dropped */ 
.no-drag {
	border: 2px #cc0000 dashed;	
}

/* Information block */
.info {
	border:0;
	font-weight: bold;
	font-size: 8pt;	
}

/* Link line styles */
.line-left {
	border-left: 1px #999999 dashed; 
}
.line-right {
	border-right: 1px #999999 dashed; 
}
.line-top {
	border-top: 1px #999999 dashed; 
}
.line-bottom {
	border-bottom: 1px #999999 dashed; 
}

/* Link line styles in case if position is not valid */ 
.line-left-no-drag {
    border-left: 2px #cc0000 dashed; 
}
.line-right-no-drag {
    border-right: 2px #cc0000 dashed; 
}
.line-top-no-drag {
    border-top: 2px #cc0000 dashed; 
}
.line-bottom-no-drag {
    border-bottom: 2px #cc0000 dashed; 
}

/* Visual presentation of resize frame operation */
#resizeFrame {
	background: transparent;
	border: 1px #666666 dashed;
}
#resizeFrame.no-drag {
	border: 2px #cc0000 dashed;
}

/* Visual presentation of link being arranged */
#arrangeLink1 {
    background: transparent;
}
#arrangeLink2 {
	background: transparent;
}

/* Visual presentation of link being created */
#lineFrame {
	background: transparent;
}

/* Section for showing error messages */
#errorArea {
	background-color: #ffcccc;
	color: #ff0000;
	font-weight: bold;
	border: 2px #990000 solid;
	margin: 1em;
	padding: 1em;
	display: none;
}

/* Main section: for showing canvas */
#canvasFrame {
	display: none;
}

/* Secondary section: for object properties and diagram list */
#properties {
	display: none;
	font-size: 8pt;	
}

/* Caret section */
#frameImage {
    cursor: default;
}
#caret {
	position: absolute;
    cursor: default;
    background: transparent;
    text-align: right;
}
#caret div {
    text-align: right;
}

.selected {
    border: 2px solid #ff9933;
    border-radius: 6px;
}

.cursor-icons {
	padding: 2px;
    background-color: #ff9933;	
}

