
@IMPORT url("bootstrap/css/bootstrap.css");

/* Common HTML styles */
body {
	font-family: Tahoma, Helvetica, sans serif;
	font-size: 8pt;
}

td {
	font-size: 8pt;	
}

input[type="text"] {
	font-size: 8pt;
}

.title {
	font-size: 9pt;
	font-weight: bold;
	color: white;
    background-color: #a9dba9;
    border-color: #46a546;
}

.btn {
	font-size: 8pt;
}

/* Visual mark for block that can't be dropped */ 
.no-drag {
	border: 2px #cc0000 dashed;	
}

/* Link line styles */
.line-left {
	border-left: 1px #999999 dashed; 
}
.line-right {
	border-right: 1px #999999 dashed; 
}
.line-top {
	border-top: 1px #999999 dashed; 
}
.line-bottom {
	border-bottom: 1px #999999 dashed; 
}

/* Link line styles in case if position is not valid */ 
.line-left-no-drag {
    border-left: 2px #cc0000 dashed; 
}
.line-right-no-drag {
    border-right: 2px #cc0000 dashed; 
}
.line-top-no-drag {
    border-top: 2px #cc0000 dashed; 
}
.line-bottom-no-drag {
    border-bottom: 2px #cc0000 dashed; 
}

/* Visual presentation of resize frame operation */
#resizeFrame {
	background: transparent;
	border: 1px #666666 dashed;
}
#resizeFrame.no-drag {
	border: 2px #cc0000 dashed;
}

/* Visual presentation of link being arranged */
#arrangeLink1 {
    background: transparent;
}
#arrangeLink2 {
	background: transparent;
}

/* Visual presentation of link being created */
#lineFrame {
	background: transparent;
}

/* Section for showing error messages */
#errorArea {
	background-color: #ffcccc;
	color: #ff0000;
	font-weight: bold;
	border: 2px #990000 solid;
	margin: 1em;
	padding: 1em;
	display: none;
}

/* Main section: for showing canvas */
#canvasFrame {
	display: none;
}

/* Secondary section: for object properties and diagram list */
#properties {
	display: none;
	font-size: 8pt;	
}

/* Caret section */
#frameImage {
    cursor: default;
}
#caret {
	position: absolute;
    cursor: default;
    background: transparent;
    text-align: right;
}
#caret div {
    text-align: right;
}

.selected {
    border: 2px solid #ff9933;
    border-radius: 6px;
}

.cursor-icons {
	padding: 2px;
    background-color: #ff9933;	
}

